@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Ubuntu:300&display=swap');
html,body{
    margin:0;
    padding: 0;
}
.block-span{
    font-family: 'Ubuntu', sans-serif;
    color: #c8c3b9;
    font-size: 14px;
    display: flex; 
    margin: 25px 0px 15px 0px;    
}
.text{
    font-family: 'Playfair Display', serif;
    color: #626262;
    font-size: 30px;
    margin-bottom:25px;
    
    
}
.infa{
    font-family: 'Playfair Display', serif;
    color: #626262;
    font-size: 14px;
    width:70%;
    
    

}
.btn button{
    width: 165px;
    height: 60px;
    font-family: 'Playfair Display', serif;
    background-color: white;
    font-size: 20px;
    color: #707070;
    border: 2px solid #626262;
    margin:58px 370px 71px 370px;


}
.list-item{
    font-family: 'Playfair Display', serif;
    font-size:14px;
    color: #626262;
    list-style-type:none;
    display: inline-block;
    margin: 26px 42px 36px 100px;
}
.list-item:hover{
    color:#03a9f4;
}
.container{
    width: 51%;
    margin-left:23%; 
}
.block{
    width: 43.4%;
    display: inline-block;

}
.block-left{
    margin-right: 9%;
}
.top{
    margin-top:70px;
    display: flex;
    justify-content: space-between;
}
img{
    width: 420px;
    height: 310px;
}