@font-face {
    font-family: 'Myriad Pro Regular';
    src: url('../fonts/MyriadPro-Regular/MyriadPro-Regular.eot');
    src: url('../fonts/MyriadPro-Regular/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-Regular/MyriadPro-Regular.woff') format('woff'),
    url('../fonts/MyriadPro-Regular/MyriadPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@600;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
.container{
    width: 90.625vw;
    
}
header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/burger.png);
    background-size: cover;
}
nav{
    width: 100%;
    background-color: white;
    margin-top: 20px;
    display: flex;
    justify-content: center;    
}
.logo{
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    color: #1ab798;
}
.header-nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin: 30px 0px 35px 0px;
}
/* .links-style{
    color: #7e7c7e;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 15px;
    

}
.links-style__hover:hover{
    color: #282528;
}
li{
    list-style-type: none;

}   */
.header-content__mobile{
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 25px;
    margin-top: 90px;
    margin-bottom: 20px;
}
.header-content__small{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 30px;


}
.content-arrow{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
    margin: 25px 0px 36px 0px;

}
.arrow-marg{
    margin-right: 5px;
}
.button_download{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 105px;
}
.btn-cloud{
    background-color: #1ab798;
    border: 0px;
    border-radius: 10px;
    max-width: 210px;
    width:65.625vw;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cloud-text{
    padding-left: 18px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    
}
.second-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
   
}
.second-section__text{
    text-align: center;
    font-family: 'Myriad Pro Regular';
    color: #282528;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    line-height: 25px;
}
.second-section__line-text{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.second-section__grey-line{
    width: 20.689vw;
    height: 2px;
    background-color: #babdc1;
}
.second-section__blue-text{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #1ab798;
    

}
.item {
    width: 91.379vw;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}
.item-column{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;

}
.item-logo {
    margin-right: 30px;
}

.item-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 20px;


}
.item-description p {
    margin: 25px 0px 0px 0px;
    width: 70.689vw;
    
}
.item-title{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #282528;
}
.item-text{
    color: #797779;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    line-height: 23px;
}
.bg-color__blue{
    background-color: #31d4e7;
    background-size: cover;
    width: 100vw;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.video-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.video-images{
    display: flex;
    justify-content: space-around;
    margin: 30px 50px 40px 50px;
}
.video-h4{
    margin-top: 50px;
    margin-bottom: 25px;
    color: #222222;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;

}
.video-p{
    line-height: 25px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: white;
    text-align: center;
}
.video{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}
.third-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;

}
.third-section__text{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #384d5c;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    line-height: 23px;
    margin-bottom: 55px;
}